.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-button);
    color: var(--color-background);
    font-size: 12px;
    line-height: 2;
    padding: 9px 33px;
    transition: background-color 0.4s ease;
}

@media (min-width: 1100px) {
    .button {
        position: relative;
        top: 0;
        font-size: 16px;
        padding: 13px 65px;
    }

    .button:hover {
        background-color: var(--color-button--hover);
    }

    .button:active {
        top: 1px;
    }
}