.catalog__container {
    padding: 0 12px 28px;
}

.catalog + .catalog .catalog__container {
    padding-top: 0;
}

.catalog__container h2::after {
    display: none;
}

.catalog__item + .catalog__item {
    margin-top: 16px;
}

.catalog__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog__item {
    position: relative;
    background-image: linear-gradient(45deg, #183262 0%, black 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.catalog__item a {
    color: inherit;
    text-decoration: none;
}

.catalog__item-img-container {
    max-height: 380px;
    padding: 16px 16px 32px;
}

.catalog__item-img-container img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem rgb(24, 29, 159));
}

.catalog__item-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.catalog__item-description p {
    padding-left: 8px;
    font-size: 18px;
    line-height: 2;
    color: var(--color-background);
}

@media (min-width: 768px) {
    .catalog__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .catalog__item + .catalog__item {
        margin-top: 0;
    }

    .catalog__item {
        width: calc(50% - 16px);
    }
}

@media (min-width: 1200px) {
    .catalog__container {
        max-width: 1324px;
        margin: 0 auto;
        padding-bottom: 72px;
    }

    .catalog__item {
        width: calc(33.333% - 16px);
    }
}

.catalog-item img {
    display: block;
    max-width: 100%;
}