.header {
    background: var(--color-background);
    color: var(--color-text);
    /*box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);*/
}

.header__banner {
    background: var(--color-banner);
    color: var(--color-background);
    text-align: center;
    padding: 6px;
}

.header__container {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    z-index: 3;
}

.header__logo img {
    display: block;
}

.header__menu-btn {
    margin-left: auto;
    border: unset;
    padding: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: unset;
    margin-right: 8px;
}

.header__menu-btn span {
    position: relative;
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-text);
}

.header__menu-btn span::before {
    content: '';
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-text);
    position: absolute;
    top: -6px;
    left: 0;
    transition: 0.4s ease;
}

.header__menu-btn span::after {
    content: '';
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-text);
    position: absolute;
    top: 6px;
    left: 0;
    transition: 0.4s ease;
}

.header__menu-btn.active span {
    background-color: transparent;
}

.header__menu-btn.active span::before {
    transform: rotate(45deg);
    top: 0;
    left: 0;
}

.header__menu-btn.active span::after {
    transform: rotate(-45deg);
    top: 0;
    left: 0;
}

.header__menu-btn.active + .header__nav {
    display: block;
}

.header__nav {
    position: absolute;
    z-index: 4;
    display: none;
    background-color: var(--color-background);
    left: 0;
    top: 56px;
    width: 100%;
    color: var(--color-text);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav-item {
    border-bottom: 1px solid var(--color-text);
}

.header__nav-link {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all ease 0.6s;
    color: inherit;
    text-decoration: none;
}

.header__nav-link:not(.header__nav-link--active):hover {
}

.header__nav-link--active {
}

.header__partners {
    background-color: #000;
    padding: 13px 24px;
}

.header__companies {
    color: var(--color-background);
    font-size: 18px;
}

.active.header__partners-list {
    display: block;
}

.header__partners-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.header__partners-item {
    display: block;
}

.header__partners-item img {
    display: none;
}

.header__partners-item a {
    text-decoration: none;
    color: var(--color-background);
    padding: 8px;
}


@media (min-width: 1100px) {
    .header__banner {
        padding: 11px;
    }

    .header__logo img {
        width: 262px;
        height: 50px;
    }

    .header__menu-btn {
        display: none;
    }

    .header__container {
        padding: 25px 12px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__nav {
        display: block;
        position: relative;
        z-index: 2;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .header__nav-list {
        display: flex;
    }

    .header__nav-item {
        border: none;
        width: 20%;
    }

    .header__nav-item:nth-child(2) {
        margin-right: 20%;
    }

    .header__nav-link:hover {
        color: var(--color-button--hover);
    }

    .header__partners-list,
    .active.header__partners-list {
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__partners {
        padding: 0;
    }

    .header__partners-item--current {
        background-color: var(--color-banner);
    }

    .header__companies {
        display: none;
    }

    .header__partners-item {
        height: auto;
        width: 12.5%;
    }

    .header__partners-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 16px 8px;
        opacity: 1;
        transition: all 0.4s ease;
    }

    .header__partners-item:not(.header__partners-item--current) a:hover {
        opacity: 0.6;
    }

    .header__partners-item span {
        display: none;
    }

    .header__partners-item img {
        display: block;
    }
}