.map__container {
    padding: 28px 12px;
}

.map img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.map p {
    text-align: center;
    margin-bottom: 18px;
}

@media (min-width: 1100px) {
    .map {
        padding: 0 0 72px;
    }
    .map__container {
        max-width: 1324px;
        margin: 0 auto;
    }
    .map p {
        text-align: left;
        margin-bottom: 42px;
        font-size: 24px;
        line-height: 30px;
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
    }

    .map img {
        max-width: 1324px;
    }

}