.video {
    padding: 28px 0;
}

.video img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.banner-video {
    /*position: absolute;*/
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1100px) {
    .video {
        padding: 72px 0;
    }

    .video img {
        max-width: 1440px;
    }

    .banner-video {
        max-width: 1440px;
        max-height: 600px;
        object-fit: cover;
        object-position: top;
    }
}